{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('theme') }}
{% endblock %}

{% block body %}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1>Bienvenue sur SnowTricks</h1>
        <h2>LE site communautaire 100% snowboard !</h2>
        {# Arrow that allows you to go down to the figures section #}
        <a href="#tricks" class="btn-get-started scrollto"><i class="fas fa-chevron-down"></i></a>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="tricks" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Figures</h2>
          
                {% if app.user %}
                {# Display icon for add trick #}
                <div>
                    <a href="{{ path('trick_new') }}" data-toggle="tooltip" data-placement="right"
                        title="Ajouter une figure">
                        <i class="fas fa-plus fa-2x"></i>
                    </a>
                </div>
                {% endif %}
            </div>

            {# Flashes message #}
            {% import 'macros/alertes.html.twig' as flash %}
            {{ flash.alert(app.flashes) }}

            <div class="row">
                {% for trick in tricks %}
                <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="card">
                        {% if trick.mainPicture != null %}
                        <img class="img-fluid" src="/img/tricks/{{ trick.mainPicture }}">
                        {% else %}
                        <img class="img-fluid" src="/img/tricks/default.jpg" alt="default">
                        {% endif %}
                        <div class="card-body">
                            <span class="tag tag-teal">{{ trick.category.name }}</span>
                            <h4>
                                <a href="{{ path('trick_show', {'slug': trick.slug}) }}" class="title_trick">
                                    {{ trick.name }}
                                </a>
                                
                                {% if app.user %}
                                {# Display icon for modify or delete trick #}
                                <a href="{{ path('trick_edit', {slug: trick.slug}) }}" data-toggle="tooltip"
                                    data-placement="right" title="Modifier une figure"><i class="fas fa-pencil-alt"></i></a>
                                {{ include('trick/_delete_form.html.twig') }}
                                {% endif %}
                            </h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Services Section -->

    <div class="container">
        <div class="row">
            <div class="col-12 text-center loadmore-tricks">
                <a href="" class="btn btn-info">Voir plus</a>
            </div>
        </div>
    </div>

</main>

{# Arrow that allows you to go to the top of the "figures" section if there are more than 15 figures displayed #}
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fas fa-chevron-up"></i></a>
{% endblock %}