{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    #footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        background: #263f49;
        padding: 0 100px 15px 0;
        color: #fff;
        font-size: 14px;
    }
</style>

{% endblock %}

{% block body %}
{% for flashError in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
{# Flashes message #}
{% import 'macros/alertes.html.twig' as flash %}
{{ flash.alert(app.flashes) }}

<div class="wrapper zero-raduis">
    <div id="formContent">

        <div class="first">
            <h2 class="my-3">S'inscrire</h2>
        </div>

        {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'} }) }}
            {{ form_row(registrationForm.username) }}

            {# Input Email #}
            <div class="mb-3">
                <div class="text-center">
                    {{ form_label(registrationForm.email) }}
                </div>
                {{ form_widget(registrationForm.email) }}
            </div>
            

            {{ form_row(registrationForm.plainPassword) }}

        <button type="submit" class="btn">Créer un compte</button>
        <a href="{{ path('app_login') }}" class="login-mobile mb-3">Déjà un compte ?</a>
        {{ form_end(registrationForm) }}

    </div>
</div>
{% endblock %}