{% extends 'base.html.twig' %}

{% block title %}Panel Admin{% endblock %}

{% block body %}
<div class="container-fluid panel-admin">
    <div class="row text-center">
        <div class="col-12">
            <h3 class="text-center">Administration</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-center">Bienvenue dans votre espace dédié à l'administration du blog. Ici vous pouvez accéder
                aux :</p>
        </div>
    </div>

    {# Users #}
    <div class="row">
        <div class="col-12">
            <h5 class="text-center">Utilisateurs</h5>
            <a href="{{ path('admin_user_new') }}">Créer un nouveau utilisateur</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom d'utilisateur</th>
                        <th>Roles</th>
                        <th>Email</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Compte activé</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.isVerified ? '<i class="fas fa-check"></i>' : '<i class="fas fa-times"></i>' }}</td>
                        <td>
                            <a href="{{ path('admin_user_show', {'id': user.id}) }}">Voir</a>
                            <a href="{{ path('admin_user_edit', {'id': user.id}) }}">Modifier</a>
                            {{ include('admin/user/_delete_form.html.twig') }}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="11">Aucun enregistrement trouvé</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {# Tricks #}
    <div class="row">
        <div class="col-12">
            <h5 class="text-center">Figures</h5>
            <a href="{{ path('trick_new') }}">Créer une nouvelle figure</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Créer le</th>
                        <th>Modifier le</th>
                        <th>Category</th>
                        <th>Utilisateur</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trick in tricks %}
                    <tr>
                        <td>{{ trick.name }}</td>
                        <td>{{ trick.description ?? '' }}</td>
                        <td>{{ trick.createdAt|date('d/m/Y H:i:s') }}</td>
                        <td>{{ trick.updatedAt|date('d/m/Y H:i:s') }}</td>
                        <td>{{ trick.category.name }}</td>
                        <td>{{ trick.user.username }}</td>
                        <td>
                            <a href="{{ path('trick_show', {'slug': trick.slug}) }}">Voir</a>
                            <a href="{{ path('trick_edit', {'id': trick.id}) }}">Modifier</a>
                            {{ include('trick/_delete_form.html.twig') }}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="11">Aucun enregistrement trouvé</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}

{% block footer %}
{% endblock %}
