<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SnowTricks{% endblock %}</title>

        <!-- Required meta tags always come first -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
                integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
                crossorigin="anonymous">
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
                integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
                crossorigin="anonymous" referrerpolicy="no-referrer" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
                integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
                crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        {# Global navbar #}
        <header id="header" class="fixed-top header-transparent">
            <div class="container d-flex align-items-center justify-content-between">

                <div class="logo">
                    <h1 class="text-light"><a href="{{ path('home') }}"><span>SnowTricks</span></a></h1>
                </div>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto" href="{{ path('home') }}">Accueil</a></li>
                        <li><a class="nav-link scrollto" href="{{ path('home', {'_fragment': 'tricks'}) }}">Figures</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a class="nav-link scrollto" href="{{ path('admin') }}">Administration</a></li>
                        {% endif %}
                        {% if app.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>
                                        {% if app.user.avatar != null %}
                                        <img src="/img/avatars/{{ app.user.avatar }}"
                                            class="img-fluid rounded-circle avatar mr-2">{{ app.user.username }}
                                        {% else %}
                                        <i class="fas fa-user-circle"></i>{{ app.user.username }}
                                        {% endif %}
                                    </span>
                                </a>
                                <ul>
                                    <li><a href="{{ path('account') }}" class="nav-link">Modifier votre compte</a></li>
                                    <li><a href="{{ path('app_logout') }}" class="nav-link">Se déconnecter</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a class="nav-link scrollto" href="{{ path('app_login') }}">Se connecter</a></li>
                            <li><a class="nav-link scrollto" href="{{ path('app_register') }}">S'inscrire</a></li>
                        {% endif %}
                    </ul>
                    <i class="fas fa-bars mobile-nav-toggle"></i>
                </nav>

            </div>
        </header>
        {# Menu mobile #}
        <nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark d-block d-sm-none">
            <div class="container-fluid my-2">
                <a class="mx-2" href="{{ path('home') }}" aria-current="page">
                    <i class="fas fa-home"></i>
                </a>
                <a class="mx-2 scrollto" href="{{ path('home', {'_fragment': 'tricks'}) }}" aria-current="page">
                    <i class="fas fa-bookmark"></i>
                </a>
                {% if app.user %}
                    <a class="mx-2" href="{{ path('account') }}" aria-current="page">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <a class="mx-2" href="{{ path('app_logout') }}" aria-current="page">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                {% else %}
                    <a class="mx-2" href="{{ path('app_login') }}" aria-current="page">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                {% endif %}
            </div>
        </nav>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
            <footer id="footer">
                <div class="container">
                    <div class="copyright">
                        &copy; Copyright {{ "now"|date("Y") }}. Tous les droits sont réservés
                    </div>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>
