{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
{# Trick header #}
<header class="img-fluid"
    style="height: 90vh;background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.5) 75%, #ffffff
    100%), url('/img/tricks/{{ trick.mainPicture != null ? trick.mainPicture : 'default.jpg'}}');background-repeat: no-repeat;background-size: cover;">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="text-uppercase mx-auto my-0">{{ trick.name }}</h1>
        </div>
    </div>
    {% if app.user %}
    <div class="operations">
        <a href="{{ path('trick_edit', {'slug': trick.slug}) }}" data-toggle="tooltip" data-placement="right"
            title="Modifier"><i class="fas fa-pencil-alt fa-lg"></i></a>
        {{ include('trick/_delete_form.html.twig') }}
    </div>
    {% endif %}
</header>


{# Trick detail #}
<section id="tricks" class="projects-section">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12 text-center">
                <div class="row justify-content-md-center">
                </div>
                {{ include('trick/_pictures_collection.html.twig') }}
                <div class="row seeMedia mt-3">
                    <div class="mx-auto">
                        <button id="seeMedia" class="btn btn-primary">Voir les médias</button>
                    </div>
                </div>
                <hr>
                <p>{{ trick.description }}</p>
                <hr>
                <p><span class="btn btn-info">Catégorie: {{ trick.category.name }}</span></p>
                <hr>
                <span class=" justify-content-md-center">
                    <span class="btn btn-info"><i class="fa fa-calendar"></i> Publié le
                        {{ trick.createdAt|date('d/m/Y') }}</span>
                </span>
                <span class=" justify-content-md-center">
                    <span class="btn btn-info"><i class="fa fa-calendar"></i> Modifié le
                        {{ trick.updatedAt|date('d/m/Y') }}</span>
                </span>
                <span class="btn btn-info justify-content-md-center"><i class="fa fa-user"></i> Auteur:
                    {{ trick.user.username }}</span>
                <hr>
            </div>
        </div>
    </div>
</section>
{# Comments Section #}
<section id="comments">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8 col-sm-12">
                <div id="post-add-comment" class="well">
                    <div class="form-card text-center">
                        <a class="btn btn-success btnlogin2" href="/connexion">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>Connectez-vous
                        </a>
                        pour publier un message<br>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 list-comments">
                <h3>
                    <i class="fa fa-comments" aria-hidden="true"></i> 1
                    commentaire</h3>
                <hr>
                <div class="row post-comment">
                    <h4 class="col-sm-3 commentnotes">
                        <div class="comment-avatar">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <strong>Anonyme</strong><br /> publié le<br />
                        <strong>09/08/2019</strong>
                    </h4>
                    <div class="col-sm-9">
                        Perso! Je me suis vautré à chaque fois que j'ai essayé
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}